* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

.navbar {
  background-color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 1rem;

}

.nav-links a:hover {
  color:yellow;
}

.hamburger {
  display: none;
  cursor: pointer;
  color: black;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  margin: 5px;
  transition: 0.3s;
}

.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background: url(home_img.jpg);
  background-size: cover;
  background-position: center;
}
.home-text_1{
  color: #172B4D;
}
.home-text_2{
  color: #36B37E;
}
#home-text_title{
  font-family: Inter;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.37px;
  text-align: center;

}
.icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 100%;
  height: 50px;
  gap: 10px;
}
.drop{
  width:3.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recent{
  display: flex;
  justify-content: center;
  height: 48px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 
  padding: 20px;
}

.row-box {
  display: flex;
  justify-content: space-around;
  overflow: hidden; 
  width: 1155px;
  height: 482px;
  padding-top: 4px;
  padding-bottom: 4px;
  gap: 24px;

}

.details {

  display: flex;
  justify-content: end;
  background-color: #e0e0e0;
  height: auto;
  width: 369px;
  height: 457px;
  flex-direction: column;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  border-radius: 8px;
  gap: 8px; 
}
.details_text{
  padding: 15px;
  width: 369px;
  height: 222px;
  border-radius: 8px;
  padding: 16px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;

}

.details h3 {
  margin-top: 0;
  color: #172B4D;
}

.details .text {
  font-size: 0.9em;
  color: #777;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 5px;
}

.list li {
  background-color: #eee;
  color: #172B4D;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 0.8em;
  font-weight: bold;
}

.show-project {
  background-color: #36B37F; 
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  align-self: center; 
  margin-top: 15px;
}

.show-project:hover {
  background-color: #45a049;
}
.about-img{
  display: flex;
  justify-content: space-between;
}
.pic-left{
  width: 13%;
}
.pic-right{
  width: 15%;
}
.Me{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  gap: 20px;
}
#About{
  font-size: 2.5rem;
  color: #172B4D;
}
.Contact{
  color: #42526E;
}
#about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  margin: 20px;
  width: 1172px;
  height: 355px;
  gap: 24px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 8px;

}
.Skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1172px;
  height: 355px;
  gap: 14px;
}
.lang {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 369px;
  height: 316px;
  background-color: #ebf0ee;
  border: 1px solid rgb(186, 182, 182);
  border-radius: 8px;
}
.lang img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.lang1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 369px;
  height: 316px;
  background-color: #ebf0ee;
  border: 1px solid rgb(186, 182, 182);
  border-radius: 8px;
}
.lang1 img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.lang1 h2 {
  background: transparent;
  margin-top: 10%;
  color: #344563;
}

.lang1 ul {
  margin-bottom: -8%;
}
.frame img {
  width: 130px;
  height: 130px;
  object-fit: cover;
}
.skill img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.box_1_skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 71px;
  gap: 18px;
  background: transparent;
  font-size: 18px;
  color: #36b37e;
}
#box_1_skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 369px;
  height: 316px;
  background-color: #ebf0ee;
  border: 1px solid rgb(186, 182, 182);
  border-radius: 8px;
}
.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 369px;
  height: 316px;
  background-color: #ebf0ee;
  border: 1px solid rgb(186, 182, 182);
  border-radius: 8px;
}
#box_skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lang h2{
  background-color: transparent;
  color:#344563;
}

.list1 {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 5px;
  background-color: transparent;
}
.list1 li {
  background-color: #ffffff;
  color: #36B37E;
  padding: 8px 5px;
  border-radius: 5px;
  font-size: 0.8em;
  font-weight: bold;
}
.New{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
  }
.box{
  width:236px;
}
.project1{
  height:250px;
  width: 450px;
}
.Project{
    font-family: Inter;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
    letter-spacing: 0%;
    vertical-align: middle;  
}
#fields{
  gap:24px;
}
#first{
  width:330px;
  height:48px;
  margin-right: 9px;
  border: 1px solid #D0D9D4;
  border-radius: 5px;
}
#last{
  width:330px;
  height:48px;
  border: 1px solid #D0D9D4;
  border-radius: 5px;
}
#email{
  width:684px;
  height:48px;
  border: 1px solid #D0D9D4;
  border-radius: 5px;
}
#description{
  width:684px;
  height:114px;
  border: 1px solid #60C095;
}
.done{
  display: flex;
}

.png{
  width:30%;
  margin-top: -30%;
  padding-left: 15px;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  
  /* Other mobile-specific styles */
  .nav-links {
      position: absolute;
      right: 0px  ;
      top: 60px;
      background-color: white;
      flex-direction: column;
      width: 100%;
      padding: 1rem;
      display: none;
  }

  .nav-links a {
      color: black;
      text-decoration: none;
      font-size: 2.2rem;
  }

  .nav-links.active {
      display: flex;
  }

  .hamburger {
      display: block;
  }

  .hamburger.active .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
  }

  .hamburger.active .line2 {
      opacity: 0;
  }

  .hamburger.active .line3 {
      transform: rotate(45deg) translate(-5px, -6px);
  }
  
  .row-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 369px;
    height: 1474px;
    gap: 14px;
  }
  
  .Skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    width: 327px;
    height: 998px;
  }
  #Contact-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #Contact-page img {
    display: none;
  }
  .New{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 412px;
    height: 514px;
    margin-top: 186px;
  }
  .project1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 412px;
    height: 363px;
    font-family: Inter;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 412px;
  }
  #fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 505px;
    gap: 0px;
  }
  #first{
    width: 100%;
    height: 48px;
    margin-right: 0px;
  }
  #email{
    width: 100%;
    height: 48px;
    margin-right: 0px;
  }
  #last{
    display: none;
  }
  #description{
    width: 375px;
    height: 114px;
    border-radius: 5px;
  }
  .png{
    display: none;
  }

}



.Pop_up {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; /* Adjust for smaller screens */
  max-width: 920px;
  height: 100%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  overflow: auto;
}

/* Style for the overlay */
.overlay {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c1c7d0;
  background: rgba(0, 0, 0, 0.8);
}
.pop_up_content h1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}
.pop_up_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Detail_text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #344563;
}
#Close {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 50px;
  padding: 2%;
  font-weight: bold;
  color: #67798e;
  font-size: large;
  background-color: #ebecf0;
  border-radius: 8px;
  border: none;
  margin: 1% -1%;
  cursor: pointer;
}

#Close_button {
  display: flex;
  justify-content: end;
}
#drop {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
.list_box {
  display: flex;
  background: transparent;
  border: 1px solid black;
  padding: 1.2%;
  background-color: #ebecf0;
  border-radius: 8px;
}

